<%- include('partials/head')%>

<%- include('partials/navbar')%>

<div class="container">
    <br>
    <br>
    <h4><%= asset.name %></h4>
    <h6>Price: <%= asset.buyPrice %></h6>
    <h6>Quantity: <%= asset.quantity %></h6>
</div>

<%- include('partials/footer')%>