<%- include('partials/head')%>

<%- include('partials/navbar')%>

<div class="container">
    <br>
    <br>
    <h4><%= page.title %></h4>
    <%- page.content %> 
</div>
<%- include('partials/footer')%>